body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.full-screen-image {
    background-image: url('../comingoon/comingsoon.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}